* {
	font-family: verdana;
}

html, body, #header {
    height: 100%;
    min-height: 100% !important;    
}

#header {
	background:  url('/img/background.jpg') no-repeat center;
	background-size: cover;
	margin-bottom: 2.3em;
	width: 100%;
}

.container {
	background: rgba(0,0,0,.6);
	color: #FFF;	
    height: 100%;
	position: relative;
	width: 100%;
}


#banner {
	bottom: 10%;
	left:0;
	margin:auto;
	position: absolute;
	right: 0;
}
#banner .banner__descripcion {
	color: #DCDEEA;
	font-weight: bold;
	padding-bottom: 2em;
	text-transform: uppercase;
}
#banner .banner__boton button {
	background: #2E9FFF;
	border: 1px solid #2E9FFF;
	border-radius: 3px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.7);
	color: #FFF;
	cursor: pointer;
	font-size: 1.1em;
	line-height: 2;
	transition: all ease-out 1s;
	width: 80%;
}

#main #usuarios .usuario__imagen {
	border-radius: 10%;
	box-shadow: 0px 0px 15px rgba(0,0,0,1);
	cursor: pointer;
	transition: all ease-in .5s;
}
#main #usuarios .usuario__imagen:hover {
	box-shadow: 0px 0px 35px rgba(0,0,0,1);
	opacity: .9;
}
#main #usuarios .usuario__imagen:hover + p {
	color: #555;
}
#main #usuarios .usuario__nombre {
	color: #aaa;
	cursor: default;
	font-size: .8em;
	font-weight: bold;
	line-height: 3;
	margin: 0;
	margin-bottom: 1.5em;
	text-transform: uppercase;
	text-decoration: overline;
	transition: all ease-in .5s;
}
#main #usuarios .usuarios__titulo {
	border-bottom: 1px solid #CCC;
	color: #222;
	font-size: 1.5em;
	line-height: 2;
	margin-bottom: 1.3em;
	text-align: center;
	text-transform: uppercase;
}

/* Desde tablet */
@media all and (min-width:768px){
	#banner .banner__boton button {
		width: 35%;
		line-height: 4;
	}
}