* {
	font-family: verdana;
}

html, body, #header {
    height: 100%;
    min-height: 100% !important;    
}

#header {
	background:  url('/img/background.jpg') no-repeat center;
	background-size: cover;
	margin-bottom: 2.3em;
	width: 100%;
}

.container {
	background: rgba(0,0,0,.6);
	color: #FFF;	
    height: 100%;
	position: relative;
	width: 100%;
}


#menu {
	cursor: default;
	padding: .3em;
	transition: all ease-out .7s;	
}
.logo .logo__img {
	vertical-align: middle;
}
.logo .logo__titulo {
	font-weight: bold;
}
.login .login__boton {
	background: transparent;
	border: 1px solid #FFF;
	cursor: pointer;
	border-radius: 3px;
	color: #FFF;
	line-height: 2;
} 
 /*  */
 .menu-fixed {
	background: rgba(0,0,0,.3);
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
	position:fixed;
	top:0;
	width:100%;
	z-index:1000;
}
/**/

#banner {
	bottom: 20%;
	left:0;
	margin:auto;
	position: absolute;
	right: 0;
}
#banner .banner__descripcion, #banner .banner__boton {
	padding: 2.8em 1.3em ;
}
#banner .banner__descripcion {
	color: #DCDEEA;
	font-weight: bold;
	text-transform: uppercase;
}
#banner .banner__boton button {
	background: #2E9FFF;
	border: 1px solid #2E9FFF;
	border-radius: 3px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.7);
	color: #FFF;
	cursor: pointer;
	font-size: 1.1em;
	line-height: 4;
	transition: all ease-out 1s;
	width: 80%;
}

#main #usuarios .usuario__imagen {
	border-radius: 50%;
	box-shadow: 0px 0px 15px rgba(0,0,0,1);
	cursor: pointer;
	margin-bottom: 1em;
	transition: all ease-in .5s;
}
#main #usuarios .usuario__imagen:hover {
	box-shadow: 0px 0px 35px rgba(0,0,0,1);
}
#main #usuarios .usuarios__titulo {
	border-bottom: 1px solid #CCC;
	color: #222;
	font-size: 1.5em;
	line-height: 2;
	margin-bottom: 1.3em;
	text-align: center;
	text-transform: uppercase;
}

#footer {
	background: rgba(0,0,0,1);
	color: #FFF;
	margin-top: 2em;
	padding: 1.5em 0;
}

#footer .contacto a {
	border-radius: 50%;	
	color: #FFF;
	display: inline-block;
	line-height: 2;
	padding: 0 .5em;
	transition: all ease-in .5s;
}
#footer .contacto .icon-facebook:hover {
	background: #3D5B99;
}
#footer .contacto .icon-twitter:hover {
	background: #55ACEE;	
}
#footer .contacto .icon-rss:hover {
	background: #FFAA58;
}

#footer .derechos-autor {
	font-size: .8em;
}

/* Desde tablet */
@media all and (min-width:768px){
	#banner .banner__boton button {
		width: 30%;
	}	

	#footer .contacto {
		text-align: left;
	}
	#footer .derechos-autor {
		text-align: right;
	}
}